body, html{
    margin:0px;
    padding:0px;
}
#menu{
    width: 100%;
    height: 75px;
    position: fixed;
    box-shadow: 1px 1px 1px #AAA;
    background-color: white;
    
}

ul{
    float: right;
    padding-top: 13px;
}

li{
    display: table-cell;
    padding-right: 20px;
}

ul li a{
    font-size: 14px;
    letter-spacing: 1px;
    font-family: helvetica;
    font-weight: normal;
    color: #262626;
    text-decoration: none;
}

#contenu{
    padding-top: 175px;
    background-color: #ffdb00;
    font-family: "Apercu Regular", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 140px;
    
}

h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
    line-height: 62px;
}

h2{
    font-size: 30px;
    color: black;
    font-weight: bold;
    line-height: 40px;    
}

.hamburger{
    padding-left: 30px;
    border: none;
    background-color: transparent;
    padding-top: 25px
    
}

.bback{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    border:none;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    padding: 15px 6px 15px 60px;
    background:transparent url(images/button.svg) no-repeat 5px center;
    margin-top: 10px;
    margin-left: 50px;
    
}

#footer{
    padding-top: 175px;
    background-color: #262626;
    font-family: "Apercu Regular", Helvetica, Arial, sans-serif;
    padding-bottom: 140px;
    color: white;
}


